/* ----------------------------------------------------------------
	Canvas: Demo Name
	Version: 1.0
-----------------------------------------------------------------*/

:root {
	--themecolor: #335EEE;
	--themecolorrgba: 51,94,238;
	--secondcolor: #EFE33F;
}

.second-color { color: #EFE33F !important; }
.second-bg-color { background-color: #EFE33F !important; }

/* Topbar
-----------------------------------------------------------------*/
.top-links li a img {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	top: -1px;
	margin-right: 8px;
	border: 1px solid rgba(255, 255, 255, 0.7);
}

/* Header
-----------------------------------------------------------------*/
#primary-menu ul li > a {
	text-transform: none;
	font-size: 1rem;
	font-weight: 500;
	letter-spacing: 0;
}

.svg-separator {
	position: absolute;
	width: 100%;
	height: 20px;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	z-index: 1;
}

.svg-separator.top {
	top: -1px;
	bottom: auto;
}


.form-process {
	top: 0;
	left: 0;
}

.hero-diagonal { position: relative; }

.hero-diagonal::before {
	content: '';
	position: absolute;
	top: -50px;
	left: 0;
	width: 100%;
	height: calc(100% + 100px);
	-webkit-clip-path: polygon(0 9%, 100% 0%, 100% 91%, 0 100%);
	clip-path: polygon(0 9%, 100% 0%, 100% 91%, 0 100%);
	background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url('images/section.jpg');
	background-position: center center;
	background-size: cover;
}

.feature-box.fbox-plain:not(.fbox-small) .fbox-icon img { width: 50px; }

.negetive-margin { margin-top: -230px; }

#cleaner-carousel .owl-item {
	opacity: 0;
	transform: translateY(20px);
	transition: all .4s .1s ease-out;
}

#cleaner-carousel .owl-item.active {
	opacity: 1;
	transform: translateY(0);
}

.total-price {
	font-size: 54px;
	letter-spacing: 0;
}

.btn-outline-secondary:not(:disabled):not(.disabled):not(.active):hover {
	border-color: var(--themecolor, #335EEE);
	color: var(--themecolor, #335EEE);
	background-color: transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
	background-color: var(--themecolor, #335EEE);
	border-color: var(--themecolor, #335EEE);
}

.toggle .toggleta i {
	color: var(--themecolor, #335EEE);
}

.section:not(.nobg) .fancy-title h4 { background-color: #F9F9F9; }

.testimonials-carousel:before {
	content: "\e7ad";
	font-family: 'font-icons';
	position: absolute;
	top: -8px;
	left: 50px;
	font-size: 100px;
	color: rgba(51,94,238, 0.02);
	color: rgba(var(--themecolorrgba), 0.08);
}

.header-misc .button {
	background-color: var(--secondcolor);
	margin: 0;
	padding: 29px 34px;
}

/* Responsive Device more than 992px (.device-md >)
-----------------------------------------------------------------*/
@media (min-width: 992px) {


	.slider-title h1 {
		font-size: 40px;
		line-height: 1.3;
		font-weight: 700;
	}

	.feature-box .fbox-img img {
		z-index: 3;
		position: relative;
		background-color: #FFF;
	}

	[class^=col-]:not(:last-child) .feature-box .fbox-img:before {
		content: '';
    	position: absolute;
		top: 50%;
		left: 100%;
		width: 150%;
    	border-top: 1px dashed var(--themecolor, #335EEE);
		transform: translateY(-50%);
		z-index: 0;
	}

	#oc-testi.owl-carousel .owl-dots {
		position: absolute;
	    bottom: 45px;
	    right: 40px;
	}

	#oc-testi.owl-carousel .owl-dots .owl-dot { margin-top: 0; }

}