/* ----------------------------------------------------------------
	Canvas: Crowd-Funding
-----------------------------------------------------------------*/

:root {
	--header-height: 70px;
	--themecolor: #209EBB;
	--themecolorrgba: 32,158,187;
}

* {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

/* Custom Header Size
-----------------------------------------------------------------*/
.header-size-custom #logo img {
	height: 70px;
}

@media (min-width: 992px) {

	.header-size-custom .header-wrap-clone {
		height: calc( 70px + 1px );
	}

	#header.header-size-custom + .include-header {
		margin-top: calc( -70px - 2px );
	}

	.header-size-custom .menu-container > .menu-item > .menu-link {
		padding-top: 24px;
		padding-bottom: 24px;
	}

}

#header .button {
	line-height: 33px;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}

body.top-search-open #header .button { opacity: 0; }

.button.button-border {
	border: 1px solid rgba(32, 158, 187, 0.3);
	background-color: transparent;
	color: #666;
}

.button.button-border:not(.button-fill):hover {
	background-color: var(--themecolor, #209EBB);
	text-shadow: none;
}

.button:not(.button-fill):hover { box-shadow: 0 4px 15px rgba(32, 158, 187, 0.25); }

.menu-link {
	font-weight: 600;
	text-transform: none;
	letter-spacing: 0;
	color: #777;
}

.slider-img {
	position: absolute;
	top: 50%;
	right: 20px;
	width: 50%;
	transform: translateY(-50%);
}

.slider-title h1 {
	font-size: 46px;
	line-height: 62px;
	letter-spacing: -1px;
}

.slider-title p {
	font-size: 15px;
	line-height: 26px;
	font-weight: 300;
	color: #999;
}

.section,
.bg-color-light {
	padding: 80px 0;
	background-color: rgba(var(--themecolorrgba, 32,158,187),0.07);
	border-top: 1px solid rgba(var(--themecolorrgba, 32,158,187),.08);
	border-bottom: 1px solid rgba(var(--themecolorrgba, 32,158,187),.1);
}

.heading-block h2 {
	text-transform: none;
	letter-spacing: 0;
}

.col-divider { position: relative; }

.col-divider::after {
	--borderwidth: 20%;
	content: "";
	width: 20%;
	width: var(--borderwidth);
	border: 1px dashed rgba(0, 0, 0, 0.1);
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(-50%, -50%);
}

.feature-text {
	display: flex;
	align-items: center;
	border-bottom: 1px dashed rgba(0, 0, 0, 0.15);
	padding-bottom: 10px;
}

.fbox-text {
	font-size: 58px;
	line-height: 1;
	font-weight: 700;
}

.feature-text h3 {
	font-size: 22px;
	line-height: 1.3;
	margin-bottom: 0;
	margin-left: 15px;
	font-weight: 800;
}

.feature-text + p {
	color: #777;
	margin-top: 10px;
	margin-bottom: 0;
}

.i-products {
	position: relative;
	overflow: hidden;
	border-radius: 4px;
}

.i-products:hover { box-shadow: 0 4px 6px rgba(0,0,0,.04); }

.i-products .products-image,
.i-products .products-image img {
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.i-products .products-image img {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    -webkit-backface-visibility: hidden;
}

.i-products:hover .products-image img {
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);
}

.i-products .products-image .badge {
	position: absolute;
	display: block;
	top: 10px;
	left: 10px;
	color: #222;
	background-color: #FFF;
	padding: 5px;
	border-radius: 3px;
}

.i-products .products-desc {
	position: relative;
	padding: 25px;
	background-color: #FFF;
	border: solid #EEE;
	border-width: 0 1px 1px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	min-height: 250px;
	-webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-backface-visibility: hidden;
}

.i-products:hover .products-desc {
	margin-top: -123px;
	min-height: 373px;
	box-shadow: 0 -3px 20px 3px rgba(0,0,0,.4);
}

.i-products .products-desc h3 {
	font-size: 20px;
	margin-bottom: 8px;
}

.i-products .products-desc p,
.i-products .products-desc .counter,
.i-products .products-hoverlays .list-group-item,
.i-products .products-hoverlays .product-user a,
.i-products .products-hoverlays .products-location { color: #999; }

.i-products .products-desc p {
	font-weight: 400;
	margin-bottom: 25px;
}

.i-products .products-desc .counter {
	display: block;
	font-size: 13px;
	font-weight: 600;
}

.i-products .products-desc h3 a,
.i-products .products-desc .counter span,
.i-products .products-desc .counter strong,
.i-products .products-hoverlays .list-group-item strong { color: #333 }

.counter.counter-xs {
	font-size: 13px;
	color: #555;
}

.i-products .products-hoverlays .list-group-item {
	padding-left: 0;
	font-size: 14px;
}

.i-products .products-hoverlays .product-user img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 10px;
}

.i-products .products-hoverlays {
	position: absolute;
	opacity: 0;
	left: 0;
	right: 0;
	bottom: -100px;
	width: 100%;
	padding-left: 25px;
	padding-right: 25px;
	background-color: #FFF;
	visibility: hidden;
	-webkit-transform: translateY(-20px);
	transform: translateY(-20px);
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	z-index: 1;
	transition: all .2s ease-in-out;
	-webkit-backface-visibility: hidden;
}

.i-products:hover .products-hoverlays {
	bottom: 0;
	opacity: 1;
	visibility: visible;
	transition: all .2s ease-in-out;
}

.i-products .skills li > span { top: -30px; }

.widget > h4 {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	padding-bottom: 10px;
}

.button-play i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) scale(1);
	color: #FFF;
	font-size: 24px;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	line-height: 58px;
	text-align: center;
	padding-left: 4px;
	border: 2px solid #FFF;
	transition: transform .3s ease;
}

.button-play:hover i {
	transform: translate(-50%,-50%) scale(1.3);
	background-color: rgba(255,255,255,0.2);
	backdrop-filter: blur(3px);
}

/* Responsive Device less than 768px (.device-sm <)
-----------------------------------------------------------------*/
@media (max-width: 767.98px) {
	.slider-img {
		position: relative;
		display: flex;
		width: 100%;
		max-width: 70%;
		top: auto;
		transform: none;
		margin: auto;
		text-align: center;
	}
}

/* Responsive Device less than 991px (.device-md <)
-----------------------------------------------------------------*/
@media (max-width: 991.98px) {
	#header .button  {
		width: 100%;
		background-color: var(--themecolor, #209EBB);
		color: #FFF;
		font-size: 15px;
	}

	#page-menu .button {
		background-color: #444;
	}
}

/* Responsive Device more than 992px (.device-md >)
-----------------------------------------------------------------*/
@media (min-width: 992px) {

	#header .container {
		width: 100%;
		max-width: none;
		padding: 0 30px;
	}

	.top-search-form input {
		border-bottom: 0 !important;
	}

	#header:not(.sticky-header) { border-bottom: 1px solid rgba(0,0,0,0.05); }

	#top-account a { color: #333 }

	#header .button { margin: 0 10px; }

	.heading-block h2 { font-size: 34px; }

	.dropdown-item { padding: 0.35rem 1.5rem; }

	.dropdown.show .button,
	.dropdown-item:hover {
		background-color: var(--themecolor, #209EBB);
		color: #FFF;
	}

	#page-menu-wrap {
		background: #F5F5F5 !important;
		overflow: hidden;
	}

	#page-menu .button {
		opacity: 0;
		visibility: hidden;
		transition: opacity .3s ease;
	}

	#page-menu.sticky-page-menu .button {
		opacity: 1;
		visibility: visible;
	}

	.page-menu-item > a {
		margin: 0 3px;
		color: #444;
		text-shadow: none;
		padding-top: 15px;
		padding-bottom: 15px;
		border-radius: 0;
	}

	.page-menu-item:hover > a, .page-menu-item.current > a {
	    background-color: var(--themecolor, #209EBB);
		color: #FFF;
	}

	#page-menu:not(.sticky-page-menu) .container { padding: 0; }

}
